
<div class="well">
	<form action="<%= url %>" method="get">
		  
		<div id="datetimepicker1" class="input-append date">
       	   <input type="text" name="start_date" data-format =  "MM/dd/yyyy" placeholder="Start date">
          <span class="add-on">
            <i data-time-icon="icon-date" data-date-icon="icon-calendar">
            </i>
          </span>
    </div>
        <div id="datetimepicker2" class="input-append date">
       	   End:<input type="text" name="end_date" data-format = "MM/dd/yyyy" placeholder="End date">
          <span class="add-on">
            <i data-time-icon="icon-date" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
		  <input type="submit" class="btn btn-primary" value="Go">
	</form>

</div>