<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      // format: 'MM/dd/yyyy'
    });
  });
</script>
<%- model_class = Scheduleing -%>
<div class="page-header">
  <h3>Schedule Book</h3>
</div>
<%= render :partial => 'form' %>
